# Dependencies
node_modules/

# Environment variables & secrets
.env
.env.local
.env.*.local

# Kubernetes Secrets
secret.yml
secret.yaml
secrets.yml
secrets.yaml
k8s/**/secret.yml
k8s/**/secret.yaml
k8s/**/secrets.yml
k8s/**/secrets.yaml
!*.example
!*.example.yml
!*.example.yaml

# File uploads
uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS & IDE Files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Testing
coverage/
